td.activity-wrapper {
  min-width: 60px;
  //display: flex;
  // text-align: center;
  // justify-content: center;
  // align-items: center;
}
.activity {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 28px;
  height: 28px;
  margin: 0 auto;
  position: relative;
}
.activity:hover:before {
  content: "";
  background: rgba(0, 0, 0, .1);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.activity-VACATION       { background: #28a745; }
.activity-SICK_DAY       { background: #dc3545; }
.activity-PARENTAL_LEAVE { background: #007bff; }
.activity-SERVICE_DAY    { background: #6c757d; }
.dot {
  background: rgba(0, 0, 0, .15);
  border-radius: 99px;
  width: 10px;
  height: 10px;
}

