td.activity-wrapper {
  min-width: 60px;
  //display: flex;
  // text-align: center;
  // justify-content: center;
  // align-items: center;
}
.activity {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  margin: 0 auto;
}

.dot {
  background: #ccc;
  border-radius: 99px;
  width: 12px;
  height: 12px;
}
.dot.VACATION {
  background: #28a745;
}
.dot.SICK_DAY {
  background: #dc3545;
}
.dot.PARENTAL_LEAVE {
  background: #007bff;
}
.dot.SERVICE_DAY {
  background: #6c757d;
}
