* {
  box-sizing: border-box;
}
body {
  font: 15px "Lato";
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
small {
  font-size: 12px;
  color: #6c757d;
}
.app {
  margin: 40px;
}
.app nav   { margin: 0 0 10px 0; }
.app nav a { margin: 0 10px 0 0; }

