.calendar-wrapper {
  position: relative;
  z-index: 0;
  aside {
    min-width: 182px;
    max-width: 182px;
    box-shadow: 6px 0 5px -2px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 0;
    left: 0;
    //padding-top: 77px;
    background-color: #fff;
    z-index: 10;
    .month {
      height: 47px;
      padding-left: 10px;
      display: flex;
      align-items: center;
      background-color:#f6f6f6;
    }
    .day {
      height: 30px;
      padding-left: 10px;
      display: flex;
      align-items: center;
      background-color:#f6f6f6;
    }
    .name { 
      height: 29px;
      border-bottom: 1px solid #ddd;
      padding-left: 10px;
      display: flex;
      align-items: center;
    }
  }
}
.calendar {
  overflow: auto;
  position: relative;
  z-index: 1;
  table {
    table-layout: fixed;
    padding-left: 182px;
  }
  thead {
    background-color:#f6f6f6;
  }
  td,
  th {
    border: 1px solid #ddd;
    line-height: 1;
  }
  .red-day {
    background: #f5a5a5;
  }
  .lov {
    background: #d5eef6;
  }
  .weekend {
    background: #fff9e5;
  }
  .month {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 46px;
  }
  .day {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
  }
  .name {
    display: flex;
    align-items: center;
    width: 180px;
    padding: 0 10px;
  }
  .today {
    border: 2px solid #ff6f6f !important;
  }
}
