.calendar {
  table {
    border-collapse: collapse;
  }
  td {
    border: 1px solid #ddd;
  }
}

.calendar-table {
  $root: &;

  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  border-collapse: collapse;
  border: 1px solid #e9ecef;

  &.wrapper {
    overflow: auto;
  }

  &__thead {
    text-align: left;

    th {
      color: #fff;
      background-color: #1d96b2;
      border-right: 1px solid #e9ecef;
      padding: 10px;
      text-align: center;

      &:last-child {
        border: none;
      }
    }

    & .month {
      text-align: center;
      border-bottom: 1px solid #fff!important;
    }
  }

  &__tbody {
    td{
      border: 1px solid #e9ecef;
      padding: 10px;
    }

    tr:nth-of-type(odd) {
      background-color: #f2f2f2;
    }
  }

  &__name {
    min-width: 190px;
  }

  &__day {
    // color: transparent;
    min-width: 45px;
    text-align: center;
    cursor: pointer;
  }

  tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
  }
}
