.calendar {
  overflow: auto;
  table {
    table-layout: fixed;
  }
  td,
  th {
    border: 1px solid #ddd;
    line-height: 1;
    vertical-align: initial;
  }
  .red-day {
    background: #f5a5a5;
  }
  .weekend {
    background: #fff9e5;
  }
  .month {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 46px;
  }
  .day {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 28px;
    height: 28px;
  }
  .name {
    display: flex;
    align-items: center;
    width: 180px;
    padding: 0 10px;
  }
}
